<footer class="main-footer">
    <div class="container main-footer-container">
        <h3 class="band-name">b.u.g mafia</h3>
        <ul class="nav footer-nav">
            <li>
                <a href="https://www.youtube.com/user/bugmafia" target="_blank">
                    <img src="assets/YoutubeLogo.png" alt="LogoYt">
                </a>
            </li>
            <li>
                <a href="https://open.spotify.com/artist/4RAbHb0oHO62If4S7h18L0" target="_blank">
                    <img src="assets/SpotifyLogo.png" alt="LogoSpotify">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/bugmafia/" target="_blank">
                    <img src="assets/FacebookLogo.png" alt="LogoFacebook">
                </a>
            </li>
        </ul>
    </div>
</footer>
